@using Jina.Domain.Account
@using Jina.Passion.Client.Base
@using Jina.Passion.Client.Base.Abstract

@inherits FormPageComponent<DlgOptions<UserDto>, UserDto>

<h3>User</h3>

@code {
    protected override Task OnRoleAsync()
    {
        return base.OnRoleAsync();
    }

    protected override Task OnSetupAsync()
    {
        return base.OnSetupAsync();
    }

    protected override Task OnLoadAsync()
    {
        return base.OnLoadAsync();
    }
}
