@page "/example/counter"
@using Jina.Passion.Client.Client.Base

@inherits PageComponentBase
@attribute [ReuseTabsPage(Title = "Counter")]

<PageContainer Title="Counter">
    <Breadcrumb>
        <Breadcrumb>
            @foreach (var item in this.BreadcrumbItems)
            {
                <BreadcrumbItem>@item</BreadcrumbItem>
            }
        </Breadcrumb>
    </Breadcrumb>

    <Content>
        <h1>Counter</h1>
    </Content>

    <ChildContent>
        <p role="status">Current count: @currentCount</p>
        <Button Type="@ButtonType.Primary" OnClick="IncrementCount">Click me</Button>
        <br/>
        <DatePicker TValue="DateTime?" Picker="@DatePickerType.Date" />
    </ChildContent>
</PageContainer>

@code {
    private string currentUrl;
    private List<string> _breadcrumbItems;

    private int currentCount = 0;

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
